checkbattery.json
{
    "id": "8a7a85d30c1477cc",
    "label": "checkbattery",
    "nodes": [
        {
            "id": "cb_changelog",
            "type": "comment",
            "z": "8a7a85d30c1477cc",
            "name": "=== Changelog ===",
            "info": "### 2026-05-05\n- Iter2: wire monitoring pipeline. cron-plus tick @ 180s aligned -> cb_evaluate -> alert MQTT (`checkbattery/alert`) + InfluxDB `infra.bms_health`.\n- Health checks: comm dropout (3min), cell delta warn/alert (50/100mV), cell hard limits (2.8/3.6V), per-cell outlier (30mV from bank avg), temperatures 1+2 (-10/50°C, sensors 3/4 ignored), MOSFET temp (60°C), switch charge/discharge OFF, BMS reboot, cycle counter monotonic.\n- InfluxDB metrics per bank: soc_percent, total_voltage, current, power, balance_current, num_cycles, cell_delta/min/max/avg, capacity_ah, mosfet_temp, temp1, temp2.\n- Alerts emit only on state transitions (active / cleared) — no per-tick spam.\n\n### 2026-05-05\n- Bootstrap: subscribe to bat_ost, bat_west, bat_big at central MQTT broker; capture last payload per leaf-topic into `global.checkbattery_samples` for schema discovery.\n",
            "x": 160,
            "y": 40,
            "wires": []
        },
        {
            "id": "cb_capture",
            "type": "function",
            "z": "8a7a85d30c1477cc",
            "name": "capture",
            "func": "// Latch each MQTT message into flow.bms_state[bank][field] = {value, _ts}.\nconst parts = msg.topic.split('/');\nconst bank = parts[0];\nconst field = parts.slice(1).join('/');\nif (!field) return null;  // skip bare-topic messages (no field)\n\nconst state = flow.get('bms_state') || {};\nconst bankState = state[bank] || {};\nbankState[field] = { value: msg.payload, _ts: Date.now() };\nstate[bank] = bankState;\nflow.set('bms_state', state);\nreturn null;\n",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 380,
            "y": 180,
            "wires": [
                []
            ]
        },
        {
            "id": "cb_mqtt_bat_ost_w",
            "type": "mqtt in",
            "z": "8a7a85d30c1477cc",
            "name": "bat_ost/#",
            "topic": "bat_ost/#",
            "qos": "0",
            "datatype": "auto",
            "broker": "mqtt_broker_config",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 140,
            "y": 300,
            "wires": [
                [
                    "cb_capture"
                ]
            ]
        },
        {
            "id": "cb_mqtt_bat_west_w",
            "type": "mqtt in",
            "z": "8a7a85d30c1477cc",
            "name": "bat_west/#",
            "topic": "bat_west/#",
            "qos": "0",
            "datatype": "auto",
            "broker": "mqtt_broker_config",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 140,
            "y": 340,
            "wires": [
                [
                    "cb_capture"
                ]
            ]
        },
        {
            "id": "cb_mqtt_bat_big_w",
            "type": "mqtt in",
            "z": "8a7a85d30c1477cc",
            "name": "bat_big/#",
            "topic": "bat_big/#",
            "qos": "0",
            "datatype": "auto",
            "broker": "mqtt_broker_config",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 140,
            "y": 380,
            "wires": [
                [
                    "cb_capture"
                ]
            ]
        },
        {
            "id": "cb_cron",
            "type": "cronplus",
            "z": "8a7a85d30c1477cc",
            "name": "tick 180s",
            "outputField": "payload",
            "timeZone": "",
            "storeName": "",
            "commandResponseMsgOutput": "output1",
            "defaultLocation": "",
            "defaultLocationType": "default",
            "outputs": 1,
            "options": [
                {
                    "name": "tick180s",
                    "topic": "tick180s",
                    "payloadType": "default",
                    "payload": "",
                    "expressionType": "cron",
                    "expression": "0 0/3 * * * * *",
                    "location": "",
                    "offset": "0",
                    "solarType": "all",
                    "solarEvents": "sunrise,sunset"
                }
            ],
            "x": 150,
            "y": 540,
            "wires": [
                [
                    "cb_evaluate"
                ]
            ]
        },
        {
            "id": "cb_evaluate",
            "type": "function",
            "z": "8a7a85d30c1477cc",
            "name": "evaluate",
            "func": "// Run health checks per bank. Emit alert MQTT messages on state transitions\n// (active / cleared) and an InfluxDB batch of important metrics every tick.\n// Out 1 = alerts (one msg per transition, topic=checkbattery/alert)\n// Out 2 = influx batch (single msg with payload=[points...])\n\nconst NOW = Date.now();\nconst NOW_ISO = new Date(NOW).toISOString();\nconst BANKS = ['bat_ost', 'bat_west', 'bat_big'];\n\nconst STATE = flow.get('bms_state') || {};\nconst HIST  = flow.get('bms_history') || {};   // bms_history[bank][code] = {since}\nconst PREV  = flow.get('bms_prev') || {};      // bms_prev[bank] = {uptime, cycles}\n\nconst TH = {\n    cell_delta_warn:  0.050,\n    cell_delta_alert: 0.100,\n    cell_min:         2.80,\n    cell_max:         3.60,\n    cell_outlier:     0.030,\n    temp_min:         -10,\n    temp_max:         50,\n    mosfet_temp_max:  60,\n    comm_dropout_ms:  3 * 60 * 1000\n};\n\nconst alerts = [];\nconst points = [];\n\nfunction num(v) {\n    if (v === undefined || v === null) return null;\n    const n = parseFloat(v);\n    return Number.isFinite(n) ? n : null;\n}\n\nfunction track(bank, code, value, severity, message) {\n    const h = HIST[bank] || (HIST[bank] = {});\n    if (h[code]) return;  // already active, no re-emit\n    h[code] = { since: NOW_ISO };\n    alerts.push({\n        ts: NOW_ISO, bank, severity, code, msg: message,\n        value, since: NOW_ISO, state: 'active'\n    });\n}\n\nfunction clear(bank, code) {\n    const h = HIST[bank];\n    if (h && h[code]) {\n        const since = h[code].since;\n        delete h[code];\n        alerts.push({\n            ts: NOW_ISO, bank, severity: 'info', code,\n            msg: 'cleared', value: null, since, state: 'cleared'\n        });\n    }\n}\n\nfor (const bank of BANKS) {\n    const s = STATE[bank];\n    const get = (path) => (s && s[path]) ? num(s[path].value) : null;\n\n    if (!s || Object.keys(s).length === 0) {\n        track(bank, 'no_data', null, 'alert', 'No data ever received from bank');\n        continue;\n    } else {\n        clear(bank, 'no_data');\n    }\n\n    // Comm dropout\n    let newestTs = 0;\n    for (const k in s) { if (s[k]._ts > newestTs) newestTs = s[k]._ts; }\n    const ageMs = NOW - newestTs;\n    if (ageMs > TH.comm_dropout_ms) {\n        track(bank, 'comm_dropout', Math.round(ageMs/1000), 'alert',\n            `No update in ${Math.round(ageMs/1000)}s`);\n    } else {\n        clear(bank, 'comm_dropout');\n    }\n\n    // Cell voltages (deltas, hard limits, per-cell outlier)\n    const cellMin = get('cell_voltages/min');\n    const cellMax = get('cell_voltages/max');\n    const cellAvg = get('cell_voltages/average');\n    const cellDelta = get('cell_voltages/delta');\n    const minIdx = get('cell_voltages/min_index');\n    const maxIdx = get('cell_voltages/max_index');\n\n    if (cellDelta !== null) {\n        if (cellDelta >= TH.cell_delta_alert) {\n            clear(bank, 'cell_delta_warn');\n            track(bank, 'cell_delta_alert', cellDelta, 'alert',\n                `Cell delta ${(cellDelta*1000).toFixed(0)}mV >= ${TH.cell_delta_alert*1000}mV (cell ${maxIdx} high, cell ${minIdx} low)`);\n        } else if (cellDelta >= TH.cell_delta_warn) {\n            clear(bank, 'cell_delta_alert');\n            track(bank, 'cell_delta_warn', cellDelta, 'warn',\n                `Cell delta ${(cellDelta*1000).toFixed(0)}mV >= ${TH.cell_delta_warn*1000}mV (cell ${maxIdx} high, cell ${minIdx} low)`);\n        } else {\n            clear(bank, 'cell_delta_alert');\n            clear(bank, 'cell_delta_warn');\n        }\n    }\n\n    if (cellMin !== null && cellMin < TH.cell_min) {\n        track(bank, 'cell_under', cellMin, 'alert',\n            `Cell ${minIdx} at ${cellMin.toFixed(3)}V below ${TH.cell_min}V`);\n    } else clear(bank, 'cell_under');\n\n    if (cellMax !== null && cellMax > TH.cell_max) {\n        track(bank, 'cell_over', cellMax, 'alert',\n            `Cell ${maxIdx} at ${cellMax.toFixed(3)}V above ${TH.cell_max}V`);\n    } else clear(bank, 'cell_over');\n\n    if (cellAvg !== null) {\n        for (let i = 1; i <= 16; i++) {\n            const v = get('cell_voltages/' + i);\n            if (v === null) continue;\n            const dev = Math.abs(v - cellAvg);\n            const code = 'cell_outlier_' + i;\n            if (dev > TH.cell_outlier) {\n                track(bank, code, v, 'warn',\n                    `Cell ${i} at ${v.toFixed(3)}V deviates ${(dev*1000).toFixed(0)}mV from bank avg ${cellAvg.toFixed(3)}V`);\n            } else {\n                clear(bank, code);\n            }\n        }\n    }\n\n    // Temperatures (only sensors 1 and 2; 3 and 4 are unused per project)\n    for (const i of [1, 2]) {\n        const t = get('temperatures/' + i);\n        if (t === null) continue;\n        const codeHi = 'temp_high_' + i;\n        const codeLo = 'temp_low_' + i;\n        if (t > TH.temp_max) {\n            clear(bank, codeLo);\n            track(bank, codeHi, t, 'alert',\n                `Temp sensor ${i} at ${t.toFixed(1)}°C above ${TH.temp_max}°C`);\n        } else if (t < TH.temp_min) {\n            clear(bank, codeHi);\n            track(bank, codeLo, t, 'alert',\n                `Temp sensor ${i} at ${t.toFixed(1)}°C below ${TH.temp_min}°C`);\n        } else {\n            clear(bank, codeHi);\n            clear(bank, codeLo);\n        }\n    }\n\n    const mosfetTemp = get('mosfet_status/temperature');\n    if (mosfetTemp !== null && mosfetTemp > TH.mosfet_temp_max) {\n        track(bank, 'mosfet_temp_high', mosfetTemp, 'alert',\n            `MOSFET temp ${mosfetTemp.toFixed(1)}°C above ${TH.mosfet_temp_max}°C`);\n    } else clear(bank, 'mosfet_temp_high');\n\n    // Switch states (charge/discharge expected ON; balance is normal in either state)\n    const swCharge = (s['switch/charge'] || {}).value;\n    const swDisch  = (s['switch/discharge'] || {}).value;\n    if (swCharge && String(swCharge) !== 'ON') {\n        track(bank, 'switch_charge_off', swCharge, 'alert', `Charge switch is ${swCharge}`);\n    } else clear(bank, 'switch_charge_off');\n    if (swDisch && String(swDisch) !== 'ON') {\n        track(bank, 'switch_discharge_off', swDisch, 'alert', `Discharge switch is ${swDisch}`);\n    } else clear(bank, 'switch_discharge_off');\n\n    // Reboot detection (uptime monotonic, allow 10s slack)\n    const uptime = get('bms/uptime');\n    if (uptime !== null) {\n        const prevUp = (PREV[bank] || {}).uptime;\n        if (prevUp !== undefined && uptime < prevUp - 10000) {\n            track(bank, 'bms_reboot', uptime, 'warn',\n                `BMS uptime decreased: ${prevUp}ms -> ${uptime}ms (likely reboot)`);\n        } else {\n            clear(bank, 'bms_reboot');\n        }\n        PREV[bank] = PREV[bank] || {};\n        PREV[bank].uptime = uptime;\n    }\n\n    // Cycle counter monotonic\n    const cycles = get('soc/num_cycles');\n    if (cycles !== null) {\n        const prevCyc = (PREV[bank] || {}).cycles;\n        if (prevCyc !== undefined && cycles < prevCyc) {\n            track(bank, 'cycles_reset', cycles, 'warn',\n                `Cycle counter decreased: ${prevCyc} -> ${cycles}`);\n        } else {\n            clear(bank, 'cycles_reset');\n        }\n        PREV[bank] = PREV[bank] || {};\n        PREV[bank].cycles = cycles;\n    }\n\n    // InfluxDB point: only the important values (per user)\n    const fields = {};\n    const map = {\n        soc_percent:     'soc/soc_percent',\n        total_voltage:   'soc/total_voltage',\n        current:         'soc/current',\n        power:           'soc/power',\n        balance_current: 'soc/balance_current',\n        num_cycles:      'soc/num_cycles',\n        cell_delta:      'cell_voltages/delta',\n        cell_min:        'cell_voltages/min',\n        cell_max:        'cell_voltages/max',\n        cell_avg:        'cell_voltages/average',\n        capacity_ah:     'mosfet_status/capacity_ah',\n        mosfet_temp:     'mosfet_status/temperature',\n        temp1:           'temperatures/1',\n        temp2:           'temperatures/2'\n    };\n    for (const fk in map) {\n        const v = get(map[fk]);\n        if (v !== null) fields[fk] = v;\n    }\n    if (Object.keys(fields).length > 0) {\n        points.push({\n            measurement: 'bms_health',\n            tags: { bank },\n            fields,\n            timestamp: NOW\n        });\n    }\n}\n\nflow.set('bms_history', HIST);\nflow.set('bms_prev', PREV);\n\nconst outAlerts = alerts.map(a => ({ topic: 'checkbattery/alert', payload: a }));\nconst outInflux = points.length > 0 ? { payload: points } : null;\nreturn [outAlerts, outInflux];\n",
            "outputs": 2,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 380,
            "y": 540,
            "wires": [
                [
                    "cb_alert_out",
                    "cb_eval_debug"
                ],
                [
                    "cb_influx_out"
                ]
            ]
        },
        {
            "id": "cb_alert_out",
            "type": "mqtt out",
            "z": "8a7a85d30c1477cc",
            "name": "checkbattery/alert",
            "topic": "",
            "qos": "0",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "mqtt_broker_config",
            "x": 660,
            "y": 480,
            "wires": []
        },
        {
            "id": "cb_eval_debug",
            "type": "debug",
            "z": "8a7a85d30c1477cc",
            "name": "alerts",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 640,
            "y": 540,
            "wires": []
        },
        {
            "id": "cb_influx_out",
            "type": "influxdb batch",
            "z": "8a7a85d30c1477cc",
            "name": "infra.bms_health",
            "influxdb": "influxdb_config_infra",
            "precision": "ms",
            "retentionPolicy": "",
            "database": "database",
            "precisionV18FluxV20": "ms",
            "retentionPolicyV18Flux": "",
            "org": "organisation",
            "bucket": "bucket",
            "x": 670,
            "y": 600,
            "wires": []
        }
    ]
}
